<?xml version="1.0" encoding="UTF-8"?>
<pages xmlns="http://jboss.com/products/seam/pages"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://jboss.com/products/seam/pages http://jboss.com/products/seam/pages-2.1.xsd"
  #if(${appspec.securityEnabled})login-view-id="/${appspec.loginPage.id}.xhtml"#end>

  <exception class="javax.faces.validator.ValidatorException">
    <redirect view-id="/error.xhtml">
      <message>Validation failed. (Does this page require a required param?)</message>
    </redirect>
  </exception>

  <exception class="java.lang.Throwable">
    <redirect view-id="/error.xhtml">
      <message>An error has occurred</message>
    </redirect>
  </exception>
</pages>