<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:c="http://java.sun.com/jstl/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:jsp="http://java.sun.com/JSP/Page"
		xmlns:clickframes="http://${appspec.domain}"
		xml:lang="en" lang="en">

#macro (externalLink $href $text)  
<a href="$href">$text</a>
#end

#macro (runtimePageLink $link)
<a href="${link.page.id}.seam$!{context.get($link).queryString}">$link.title</a>
#end 

    <head>
	<c:if test="${!empty clickframesPage}">
#set ($x = '#{clickframesPage}')
		<meta name="clickframesPage" content="${x}" />
	</c:if>
        <title><ui:insert name="title">Your Clickframes-Generated Application</ui:insert></title>
		<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/reset-fonts.css" />
		<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/grid.css" />
	    <link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/style.css" />

	    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/jquery-1.3.2.js"></script>
	    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/jquery.corners.min.js"></script>
    </head>
    <body>
		
	<div id="header">
		<div class="container_12">
		
			<h1 class="grid_12"><a href="#{facesContext.externalContext.requestContextPath}">${appspec.title}</a></h1>
			<div class="clear"></div>
			<ul id="site-navigation" class="grid_8">
#foreach($linkSet in $appspec.globalLinkSets)      
#foreach($link in $linkSet.links)
				<li>
#if ($link.internal)
					#runtimePageLink($link)
#else
					#externalLink($link.href $link.title)
#end
				</li>
#end
#end
			</ul>
			<h:panelGroup rendered="#{identity.loggedIn}">
			<div id="identity" class="grid_4">Logged in as <strong>#{identity.username}</strong></div>
			</h:panelGroup>
			<div class="clear"></div>
		
		</div>
	</div>
    
	<div class="container_12">
		<div class="grid_12">
			<ui:insert name="page-content"></ui:insert>
		</div>
		
		<div id="footer" class="grid_12">
			<p>Generated by Clickframes</p>
		</div>
	</div>
	
    </body>
</html>




    
